.elements__panel {
    display: flex;
    justify-content: space-between;
    margin: 22px 15px 31px 21px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0px 0px 10px 10px;
  }
  