.popup__title{
    font-size: 24px;
    color: #000000;
    margin: auto;
    margin-top: 34px;
    margin-bottom: 54px;
    padding: 0;
    width: calc(100%-72px);
    padding-right: 28px;
}
@media (max-width: 480px) {

    .popup__title {
        font-size: 18px;
        margin: auto;
        margin-top: 25px;
        width: calc(100%-44px);
        padding-right: 0;
        font-weight: 900;
    }
  
  }